* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 70px;
}

.link {
    color: #ff0000;
    font-size: 17px;
    text-transform: uppercase;
}

.link:hover{
    background: #1b9bff;
    
}

.heading {
      text-align: center;
}

.user {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 86%;
    margin: 10px 98px
  }
  
.user td, .user th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.user tr:nth-child(even){background-color: #f2f2f2;}
  
.user tr:hover {background-color: #ddd;}
  
.user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

 